<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller.js"></script>

<style>
    body {
        background-color :blanchedalmond;

    }
    </style>

<body ng-app="myApp">
        
    <div ng-controller="Democtrl">
             <div class="row" style="margin-top:50px">
            <form class="form-horizontal col-sm-5 col-sm-offset-3" name="RegisterForm">
                <div class="col-sm-12 text-center">
                    <h2> Registration form</h2>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" > FirstName:</label>
                    <div class="col-sm-10">
                            <input type="text" name="FirstName" ng-model="employee.FirstName" class="form-control" required>
                            <span ng-show="RegisterForm.FirstName.$invalid">The name is required.</span>
                 </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"> LastName :</label>
                    <div class="col-sm-10">
                        <input type="text"name=" LastName "class="form-control" ng-model="employee. LastName " class="form-control"required>
                            <span ng-show="RegisterForm. LastName  .$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Dateofbrith:</label>
                    <div class="col-sm-10">
                <input type="date" name="Dateofbrith"action="/action_page.php"class="form-control"ng-model="employee.Dateofbrith" min="1995-01-01"max="2020-12-31"required>
                <span ng-show="RegisterForm.Dateofbrithmin.$invalid">The name is required.</span>   
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >Gender:</label>
                    <div class="col-sm-10">      
              <select name="Gender" ng-model="employee.Gender"  class="form-control" ng-options="item for item in Gender"></select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" >PhoneNumber:</label>
                    <div class="col-sm-10">
                        <input type="numbers"name="PhoneNumber"class="form-control"ng-model="employee.PhoneNumber" name="PhoneNumber"required >
                            <span ng-show="RegisterForm.PhoneNumber.$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >Address:</label>
                    <div class="col-sm-10">
                        <input type="text" name="Address"class="form-control" ng-model="employee.Address"required></br>
                            <span ng-show="RegisterForm.Address.$invalid">The name is required.</span>
                            
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="control-label col-sm-2" >Country:</label>
                    <div class="col-sm-10">      
                        <select ng-model="employee.Country"class="form-control"ng-options="item for item in Country"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">State:</label>
                    <div class="col-sm-10">
                            <select ng-model="employee.State"class="form-control"ng-options="item for item in State"></select>
                    </div>
                </div>
                <div class="form-group">n  
                    <label class="control-label col-sm-2" >state:</label>
                    <div class="col-sm-10">
                            <select ng-model="employee.state"class="form-control"ng-options="item for item in state"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Pincode:</label>
                    <div class="col-sm-10">
                        <input type="numbers"name="Pincode" class="form-control" ng-model="employee.Pincode"required>
                            <span ng-show="RegisterForm.Pincode.$invalid">The name is required.</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">employee code:</label>
                    <div class="col-sm-10">
                        <input type="numbers"name="employeeCode"class="form-control" ng-model="employee.employeeCode" required>
                        <span ng-show="RegisterForm.employeeCode.$invalid">The name is required.</span>

                    </div>
                </div>
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-success"ng-disabled="RegisterForm.employee.$dirty && RegisterForm.employee.$invalid ||
                    RegisterForm.$dirty && RegisterForm.$invalid"ng-click="submitform(employee)">
                    <button type="reset" class="btn btn-danger"> reset</button>
                </div>

              
            </form>

            <div class="table-responsive col-sm-12">          
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>FirstName</th>
                          <th>LastName</th>
                          <th>Dateofbrith</th>
                          <th>Gender</th>
                          <th>PhoneNumber</th>
                          <th>Address</th>
                          <th>Country</th>
                          <th>State</th>
                          <th>Pincode</th>
                          <th>employeeCode</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="item in content">
                          <tr>

                                <td>{{$index+1}}</td>
                              <td>{{item.FirstName}}</td>
                              <td>{{item.LastName}}</td>
                              <td>{{item.Dateofbrith}}</td>
                              <td>{{item.Gender}}</td>
                              <td>{{item.PhoneNumber}}</td>
                              <td>{{item.Address}}</td>
                              <td>{{item.Country}}</td>
                              <td>{{item.State}}</td>
                              <td>{{item.Pincode}}</td>
                              <td>{{item.employeeCode}}</td>
                            
                          </tr>
                      </tbody>
                      </table>
                      </div>
                  
        </div>
    </div>
</body>

</html>